<% @title = "Manejo de proveedores" %>
<h3>Gastos este mes <%= number_to_currency @this_month %></h3>
<hr>
<div class="">
	
		<a href="<%= new_admin_expense_path %>">
			<div class="col-sm-6 col-md-3 box">
				<div class="box-border">
					<%= image_tag 'plus.svg' %>
					<p>Nueva compra</p>
				</div>
			</div>
		</a>
		<a href="<%= new_buy_path %>">
			<div class="col-sm-6 col-md-3 box">
				<div class="box-border">
					<%= image_tag 'plus.svg' %>
					<p>Nuevo gasto</p>
				</div>
			</div>
		</a>
		<a href="<%= new_nomina_path %>">
			<div class="col-sm-6 col-md-3 box">
				<div class="box-border">
					<%= image_tag 'plus.svg' %>
					<p>Nueva nómina</p>
				</div>
			</div>
		</a>
		
		<a href="<%= admin_expenses_path %>">
			<div class="col-sm-6 col-md-3 box">
				<div class="box-border">
					<%= image_tag 'list.svg' %>
					<p>Listado compras</p>
				</div>
			</div>
		</a>
		<a href="<%= index_buy_path %>">
			<div class="col-sm-6 col-md-3 box">
				<div class="box-border">
					<%= image_tag 'list.svg' %>
					<p>Listado gastos</p>
				</div>
			</div>
		</a>
		<a href="<%= index_nomina_path %>">
			<div class="col-sm-6 col-md-3 box">
				<div class="box-border">
					<%= image_tag 'list.svg' %>
					<p>Listado nominas</p>
				</div>
			</div>
		</a>
		
</div>

