<% @title = "Manejo de ventas" %>

<div class="">
	
		<a href="<%= new_admin_sale_path %>">
			<div class="col-sm-6 col-md-3 box">
				<div class="box-border">
					<%= image_tag 'plus.svg' %>
					<p>Nueva venta o cotizacion</p>
				</div>
			</div>
		</a>
		<a href="<%= admin_sales_path %>">
			<div class="col-sm-6 col-md-3 box">
				<div class="box-border">
					<%= image_tag 'list.svg' %>
					<p>Todas las operaciones</p>
				</div>
			</div>
		</a>
		<a href="<%= sales_cotizaciones_path %>">
			<div class="col-sm-6 col-md-3 box">
				<div class="box-border">
					<%= image_tag 'list.svg' %>
					<p>Cotizaciones</p>
				</div>
			</div>
		</a>
		<a href="<%= sales_pagadas_path %>">
			<div class="col-sm-6 col-md-3 box">
				<div class="box-border">
					<%= image_tag 'list.svg' %>
					<p>Pagadas</p>
				</div>
			</div>
		</a>
		
		<a href="<%= sales_parcialmente_pagadas_path %>">
			<div class="col-sm-6 col-md-3 box">
				<div class="box-border">
					<%= image_tag 'list.svg' %>
					<p> Parcialmente pagadas</p>
				</div>
			</div>
		</a>
		<a href="<%= sales_por_pagar_path %>">
			<div class="col-sm-6 col-md-3 box">
				<div class="box-border">
					<%= image_tag 'list.svg' %>
					<p>Por pagar (pendientes de pago o consignaciones)</p>
				</div>
			</div>
		</a>
		
	
</div>