<br><br>

<div class="bordered-header">
	<h3>Balance total de este mes</h3>
	<% if (@ventas - @compras) <= 0 %>
		<p style="color: red">
			<%= number_to_currency(@ventas - @compras)%>
		</p>
	<% else %>
		<p style="color: green">
			<%= number_to_currency(@ventas - @compras)%>
		</p>
	<% end %>
</div>

<div class="bordered-table">
	<div class="header-table">
		<h4>Ingresos</h4>
		<div><%= number_to_currency @ventas %></div>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Concepto</th>
				<th>Monto</th>

			</tr>
		</thead>
		<tbody>
				<% @sales_list.each do |s| %>
				<tr>
					<td>

						<a href="<%= admin_sale_path(s.sale_id) %>">
							<%= s.description %>
						</a>
					</td>

					<td><%= number_to_currency s.amount %></td>
				</tr>
				<% end %>
		</tbody>

	</table>
</div>
<div class="bordered-table">
	<div class="header-table">
		<h4>Gastos</h4>
		<div><%= number_to_currency @compras %></div>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Concepto</th>
				<th>Monto</th>

			</tr>
		</thead>
		<tbody>
				<% @purchases_list.each do |p| %>
				<tr>
					<td>
						<% if p.expense_type == 'expense' %>
							<a href="<%= show_buy_path(p) %>">
								<%= p.desc %>
							</a>
						<% else %>
							<a href="<%= admin_expense_path(p) %>">
								<%= p.desc %>
							</a>
						<% end %>
					</td>

					<td><%= number_to_currency p.total %></td>
				</tr>
				<% end %>
		</tbody>

	</table>
</div>




