<%= simple_form_for(client, url: url) do |f| %>
  <%= f.error_notification %>

  <%= f.input :razon, label: "Razón social" %>
  <%= f.input :name, label: "Alias" %>
  <%= f.input :rfc, label: "RFC" %>
  <%= f.input :state, label: "Estado" %>
  <%= f.input :city, label: "Ciudad" %>
  <%= f.input :localidad, label: "Localidad" %>
  <%= f.input :cp, label: "Código postal" %>
  <%= f.input :col, label: "Colonia" %>
  <%= f.input :address, label: "Dirección" %>
  <%= f.input :ext_number, label: "Número exterior" %>
  <%= f.input :int_number, label: "Número interior" %>
  <%= f.input :phone_1, label: "Teléfono" %>
  <%= f.input :phone_2, label: "Teléfono 2" %>
  <%= f.input :email, label: "Email" %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-success btn-block" %>
  </div>
<% end %>
