<br>
<p>Buscador</p>
<%= search_form_for @q, url: clients_list_path, html: {class: "form-inline"} do |f| %>
    <%= f.search_field :razon_cont, placeholder: "razón social", class: "form-control" %>
    <%= f.search_field :state_or_city_cont, placeholder: "estado, ciudad", class: "form-control" %>
    <%= f.search_field :email_cont, placeholder: "email", class: "form-control" %>
    <%= f.search_field :phone_1_or_phone_2_cont, placeholder: "teléfono", class: "form-control" %>
    <%= f.submit 'Buscar', class: "btn btn-primary" %>
    <%= link_to clients_list_path, class: "btn btn-success" do  %>
       <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
       Reset
    <% end %>
    <br><br>
    <% if current_user.has_roles? [:super, :admin] %>
      <%= link_to admin_products_path(format: 'csv'), class: "btn btn-success" do  %>
         <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
         Descargar CSV
      <% end %>

      <%= link_to admin_products_path(format: "pdf"), class: "btn btn-success" do %>
        <span class="glyphicon glyphicon-download" aria-hidden="true"></span> 
        Descargar PDF
      <% end %>
    <% end %>
    
<% end %>

<h1>Clientes</h1>
<hr>
<table class="table">
  <thead>
    <tr>
      <th>Razón</th>
      <th>Estado</th>
      <th>Ciudad</th>
      <th>Mail</th>
      <th>Teléfono</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.razon %></td>
        <td><%= client.state %></td>
        <td><%= client.city %></td>
        <td><%= client.email %></td>
        <td><%= client.phone_1 %></td>

        <td><%= link_to 'ver más', admin_client_path(client) %></td>
        <% if current_user.has_roles? [:super, :admin, :gerente_ventas, :ventas] %>
          <td><%= link_to 'editar', edit_admin_client_path(client) %></td>
        <% end %>
        <% if current_user.has_roles? [:super, :admin] %>
          <td><%= link_to 'Destroy', admin_client_path(client), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

