<% @title = "Manejo de clientes" %>

<div class="">
	
	<% if current_user.has_roles? [:super, :admin, :ventas, :gerente_ventas] %>
		<a href="<%= new_admin_client_path %>">
			<div class="col-sm-6 col-md-3 box">
				<div class="box-border">
					<%= image_tag 'plus.svg' %>
					<p>Nuevo cliente</p>
				</div>
			</div>
		</a>
		<a href="<%= new_admin_provider_path %>">
			<div class="col-sm-6 col-md-3 box">
				<div class="box-border">
					<%= image_tag 'plus.svg' %>
					<p>Nuevo Proveedor</p>
				</div>
			</div>
		</a>
		<a href="<%= clients_list_path %>">
			<div class="col-sm-6 col-md-3 box">
				<div class="box-border">
					<%= image_tag 'list.svg' %>
					<p>Listado de clientes</p>
				</div>
			</div>
		</a>
		<a href="<%= admin_providers_path %>">
			<div class="col-sm-6 col-md-3 box">
				<div class="box-border">
					<%= image_tag 'list.svg' %>
					<p>Listado de proveedores</p>
				</div>
			</div>
		</a>
		
	<% end %>

	
</div>

