<br>

<hr>
<p>
	<b>Razon social: </b>
	<%= @client.razon %>
</p>
<p>
	<b>Nombre: </b>
	<%= @client.name %>
</p>
<p>
	<b>RFC: </b>
	<%= @client.rfc %>
</p>
<p>
	<b>Estado: </b>
	<%= @client.state %>
</p>
<p>
	<b>Ciudad: </b>
	<%= @client.city %>
</p>
<p>
	<b>Localidad: </b>
	<%= @client.localidad %>
</p>
<p>
	<b>CP: </b>
	<%= @client.cp %>
</p>
<p>
	<b>Colonia: </b>
	<%= @client.col %>
</p>
<p>
	<b>Direccion: </b>
	<%= @client.address %>
</p>
<p>
	<b>Numero exterior: </b>
	<%= @client.ext_number %>
</p>
<p>
	<b>Numero interior: </b>
	<%= @client.int_number %>
</p>
<p>
	<b>Telefono 1: </b>
	<%= @client.phone_1 %>
</p>
<p>
	<b>Telefono 2: </b>
	<%= @client.phone_2 %>
</p>
<p>
	<b>Email: </b>
	<%= @client.email %>
</p>
<p>
	<b>Limite de credito: </b>
	<%= @client.credit_limit %>
</p>











