	<div style="clear: both;" class="nested-fields row">
		
		<% unless f.object.amount.blank? and f.object.description.blank? %>
		
			<%= f.input :description, label: "Concepto", wrapper_html: {class: " col-md-6"}, input_html: {class: "price", disabled: true} %>
			<%= f.input :amount, label: "Monto", wrapper_html: {class: " col-md-2"}, input_html: {class: "quantity", disabled: true} %>
		<% else %>
			<%= f.input :description, label: "Concepto", wrapper_html: {class: " col-md-6"}, input_html: {class: "price"} %>
			<%= f.input :amount, label: "Monto", wrapper_html: {class: " col-md-2"}, input_html: {class: "quantity"} %>
		<% end %>

		<% if current_user.has_roles? [:super, :admin] %>
		  
			<%= link_to_remove_association 'x', f, class: "btn btn-danger", data: { confirm: 'Estas seguro?' } %>
		<% end %>
		

	</div>	

