
<%= simple_form_for(sale, url: url) do |f| %>
  <%= f.error_notification %>

 <p>
 	<b>Fecha de venta:</b>
  <%= sale.creation.strftime("%m/%d/%Y") %>
 </p> 
 <p>
   <b>SKU:</b>
   <%= sale.sku %>

 </p>
 <p>
   <b>Atiende:</b>
   <%= current_user.name %>
   <%= current_user.last_name %>
 </p>
  <p>
   <b>Tel:</b>
   <%= current_user.phone %>
 </p>
  <p>
   <b>Email:</b>
   <%= current_user.email %>
 </p>
  <% if current_user.has_roles? [:super, :admin] %>
   <%= f.input :creation, label: 'Fecha de venta', required: true, as: :date %>
  <% end %>
 <% if sale.payment_status == 'cotizacion' %>
   
  <%= f.association :client, label_method: :razon, label: "Cliente", required: true, input_html: { class: 'chosen-select' }, wrapper_html: {class: "col-md-4"} %>
  <%= f.input :payment_status, collection: @states_sales, label: "Estado de pago", required: true, wrapper_html: {class: "col-md-4"} %>
  <%= f.input :payment_type, collection: @payments, label: "Tipo de pago", required: true, wrapper_html: {class: "col-md-4"} %>
  <%= f.input :tax, collection: @tax, label: "% IVA", required: true, wrapper_html: {class: "col-md-6"} %>
  <%= f.input :discount, collection: @discount, label: "Descuento", required: true, wrapper_html: {class: "col-md-6"} %>
 <% else %>
  <p>
    <b>Cliente:</b>

    <%= link_to "#{sale.client.razon}", admin_client_path(sale.client) %>

  </p>
  <p>
    <b>Estado de la venta:</b>
    <span class="label label-default"><%= sale.payment_status.humanize %></span>
    
  </p>
  <p>
    <b>Tipo de pago:</b>
    <%= sale.payment_type.humanize %>
  </p>
  
 <% end %>
 



	 <br>
  <h3>Lista productos</h3>
  <hr>
  <% if sale.payment_status == 'cotizacion' %>
    <div id="products">
      <%= f.simple_fields_for :line_items do |d| %>
        <%= render 'line_item_fields', f: d %>
      <% end %>
      <div class="links" style="clear: both;">
        <%= link_to_add_association 'añadir producto', f, :line_items, class: "btn btn-default" %>
      </div>
    </div>
  <% else %>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Unidad</th>
          <th>Cantidad</th>
          <th>P/Unitario</th>
          <th>Monto</th>
        </tr>
      </thead>
      <tbody>
        <% @sale.line_items.each do |line| %>
          <tr>
            <td><%= line.product.model %></td>
            <td><%= line.product.unidad %></td>
            <td><%= line.quantity %></td>
            <td><%= number_to_currency(line.price) %></td>
            <td><%= number_to_currency(line.total_price_line) %></td>
          </tr>
        <% end %>
        </tbody>
    </table>
  <% end %>

<div class="total-bordered">
  <div>
    <b>Subtotal:</b>
    <%= number_to_currency sale.subtotal %>
  </div>
  <div>
    <b>Despues de descuento (<%= sale.discount * 100 %>%):</b>
    <%= number_to_currency(sale.subtotal - (sale.subtotal * sale.discount)) %>
  </div>
  <div>
    <b>IVA:</b>
    <%= sale.tax * 100 %>%
  </div>
  <div class="total">
    <b>Total:</b>

    <%= number_to_currency sale.total %>
    
  </div>
</div>


<br>
<div class="abonos">
  <h3>Depositos o abonos</h3>
  <% if sale.payment_status == 'venta_concretada' %>
    <span class="label label-success">pagado</span>
    <p>
      <b>Acumulado:</b> <%= sale.accumulated %>
    </p>
    <p>
      <b>Restante:</b> <%= sale.remaining %>
    </p>
	<% else %>
  		<p>
  			<b>Abonado al momento:</b>
  			<%= number_to_currency sale.accumulated %>
  		</p>
      <p>
        <b>Resta:</b>
        <%= number_to_currency sale.remaining %>
      </p>
    
    <hr>
      <div id="deposits">
        <%= f.simple_fields_for :deposits do |dep| %>
          <%= render 'deposit_fields', f: dep %>
        <% end %>
        <div class="links" style="clear: both;">
          <%= link_to_add_association 'añadir abono', f, :deposits, class: "btn btn-default" %>
        </div>
      </div>
  
	<% end %>
</div>



  <br>

  <%= f.input :desc, label: "Comentarios" %>
  <div class="button">
    <%= f.button :submit, "Guardar", class: "btn btn-success" %>
  </div>

<% end %>


<script type="text/javascript">
  $('.chosen-select').chosen({ 
    no_results_text: "nada encontrado",
    placeholder_text_single: "Selecciona opción",
    placeholder_text_multiple: "Selecciona opciones",
    // width: '30%'
  });
   $('.datepicker').datepicker({
    dateFormat: "yy-mm-dd",
  });

  var $select = $('#sale_payment_status');
  var $abonos = $('.abonos');
  $abonos.hide();

  $select.on('change', function(){
    if (this.value == 'cotizacion' || this.value == 'venta_concretada'){
      $abonos.hide();
    } else {
      $abonos.show();
    }
  })
</script>