	<div style="clear: both;" class="nested-fields row">
		
		<%= f.association :product,label: "Producto", label_method: :name_d, input_html: {class: "select1"}, wrapper_html: {class: "col-md-6"}, required: true %>
		<%= f.input :quantity, label: "Cantidad", wrapper_html: {class: " col-md-2"}, input_html: {class: "quantity"}, required: true %>
		<%= f.input :price, label: "Precio", placeholder: "$", wrapper_html: {class: " col-md-2"}, input_html: {class: "price"}, required: true %>

		<%= link_to_remove_association 'x', f, class: "btn btn-danger", data: { confirm: 'Estas seguro?' } %>
	</div>	

<script type="text/javascript">
	
	$('.select1').chosen({ 
    no_results_text: "nada encontrado",
    placeholder_text_single: "Selecciona opción",
  });

</script>