<h3>Datos</h3>
<%= simple_form_for(sale, url: url) do |f| %>
  <%= f.error_notification %>


 <p>
   <b>Atiende:</b>
   <%= current_user.name %>
   <%= current_user.last_name %>
 </p>
  <p>
   <b>Tel:</b>
   <%= current_user.phone %>
 </p>
  <p>
   <b>Email:</b>
   <%= current_user.email %>
 </p>
 <%= f.input :creation, label: 'Fecha de venta', required: true, as: :date %>
 <%= f.association :client, label_method: :razon, label: "Cliente", required: true, input_html: { class: 'chosen-select' }, wrapper_html: {class: "col-md-4"} %>
 <%= f.input :payment_status, collection: @states_sales, label: "Estado del pago", required: true, wrapper_html: {class: "col-md-4"} %>
 <%= f.input :payment_type, collection: @payments, label: "Tipo de pago", required: true, wrapper_html: {class: "col-md-4"} %>
 <%= f.input :tax, collection: @tax, label: "% IVA", required: true, wrapper_html: {class: "col-md-6"} %>
 <%= f.input :discount, collection: @discount, label: "Descuento", required: true, wrapper_html: {class: "col-md-6"} %>



	 <br>
  <h3>Lista productos</h3>
  <hr>
  
    <div id="products">
      <%= f.simple_fields_for :line_items do |d| %>
        <%= render 'line_item_fields', f: d %>
      <% end %>
      <div class="links" style="clear: both;">
        <%= link_to_add_association 'añadir producto', f, :line_items, class: "btn btn-default" %>
      </div>
    </div>

<br>
<div class="abonos">
  <h3>Depositos o abonos?</h3>
  <hr>
    <div id="deposits">
      <%= f.simple_fields_for :deposits do |dep| %>
    		<%= render 'deposit_fields', f: dep %>
  		<% end %>
  		<div class="links" style="clear: both;">
  			<%= link_to_add_association 'añadir abono', f, :deposits, class: "btn btn-default" %>
  		</div>
    </div>
</div>




  <div class="">
    <%= f.button :submit %>
  </div>
<% end %>


<script type="text/javascript">
  $('.chosen-select').chosen({ 
    no_results_text: "nada encontrado",
    placeholder_text_single: "Selecciona opción",
    placeholder_text_multiple: "Selecciona opciones",
    // width: '30%'
  });
   $('.datepicker').datepicker({
    dateFormat: "yy-mm-dd",
  });


   var $select = $('#sale_payment_status');
   var $abonos = $('.abonos');

   $abonos.hide();

   $select.on('change', function(){
      if (this.value == 'cotizacion' || this.value == 'venta_concretada'){
        $abonos.hide();
      } else {
        $abonos.show();
      }
   })


</script>