<script type="text/javascript">
	var vendedor = document.getElementById('vendedor'),
	btnOpen = document.getElementById('pdfOpen'),
	btnDownload = document.getElementById('pdfDownload');

	var doc = {
		content: [
			{
				image: "<%= setting.img_64 %>",
				width: 100,
				style: 'image',
			},

			{
				text: "Tel: <%= setting.phone_1 %>",
				style: 'company_info'
			},
			{
				text: "Email: <%= setting.email_1 %>, <%= setting.email_2 %>",
				style: 'company_info'
			},
			{
				text: "<%= setting.web_page %>",
				style: 'company_info'
			},
			{
				text: "Direccion: <%= setting.address %>, C.P. <%= setting.cp %>, <%= setting.city %> <%= setting.state %>\n\n",
				style: 'company_info'
			},
			<% if sale.payment_status == 'cotizacion' %>
				{
					text: "Cotización <%= sale.sku %> \n",
					style: 'h1'
				},
			<% else %>
				{
					text: "Venta <%= sale.sku %> \n",
					style: 'h1'
				},
			<% end %>
			{
				text: 'Fecha: <%= sale.created_at.strftime("%m/%d/%Y") %>',
				style: 'text'
			},
			{
				text: 'Atendió: <%= sale.user.name %> <%= sale.user.last_name %>',
				style: 'text'
			},
			{
				text: 'Tel: <%= sale.user.phone %>',
				style: 'text'
			},
			{
				text: 'Email: <%= sale.user.email %> \n\n',
				style: 'text'
			},

			{
				text: "Cliente\n",
				style: 'h1'
			},
			{
				text: 'Razón social: <%= sale.client.razon %>',
				style: 'text'
			},
			{
				text: 'Dirección: <%= "#{sale.client.address}, C.P. #{sale.client.cp}, #{sale.client.city} #{sale.client.state}" %>',
				style: 'text'
			},
			{
				text: 'Tel: <%= sale.client.phone_1 %>',
				style: 'text'
			},
			{
				text: 'Email: <%= sale.client.email %>\n\n',
				style: 'text'
			},
			{
				text: "Productos\n",
				style: 'h1'
			},
			{
				table: {
					headerRows: 1,
					widths: [180, 50,50,100,100],
					body: [
						[{ text: 'Nombre', style: 'tableHeader' }, { text: 'Unidad', style: 'tableHeader' }, { text: 'Cantidad', style: 'tableHeader' }, { text: 'P/Unitario', style: 'tableHeader' }, { text: 'Monto', style: 'tableHeader' }],
						<% sale.line_items.each do |line| %>
							[{text:"<%= line.product.model %>", style: 'tablebody'}, "<%= line.product.unidad.humanize %>", "<%= line.quantity %>", "<%= number_to_currency line.price %>", "<%= number_to_currency line.total_price_line %>"]
						<% end %>
					]
				}
			},
			{
				text: '\n',
			},
			{
				text: "Subtotal: <%= number_to_currency sale.subtotal %>",
				style: 'total'
			},
			{
				text: "IVA: <%= (sale.tax * 100) %>",
				style: 'total'
			},
			{
				text: "Total: <%= number_to_currency(sale.total) %>",
				style: 'total'
			},
			{
				text: '\n\n\n',
			},
			{
				text: 'Obervaciones importantes\n',
				style: 'tableHeader'
			},
			{
				text: '* Precios sujetos a cambios sin previo aviso.',
				style: 'text'
			},
			{
				text: '* Condiciones de pago; 50% anticipo y 50% restante ante entrega.',
				style: 'text'
			},
			{
				text: '* Tiempo de entrega 7 días hábiles una vez autorizada la cotización y recibido 50% de anticipo.',
				style: 'text'
			},
			{
				text: '* Condiciones de entrega; a acordar con el cliente.',
				style: 'text'
			},
			{
				text: '* Validez; 15 días despues de emitida la cotización.\n\n\n\n\n\n\n\n\n',
				style: 'text'
			},
			





		],
		styles: {
			company_info: {
				fontSize: 8,
				bold: true,
			},
			h1: {
				fontSize: 10,
				bold: true
			},
			text: {
				fontSize: 8,
			},
			image: {
				alignment: "left"
			},
			tableHeader: {
				bold: true,
				fontSize: 8,
			},
			tablebody: {
				fontSize: 8,
			},
			total: {
				fontSize: 10,
				alignment: "right"
			},
			
		}
	};




	function openPDF() {
		 pdfMake.createPdf(doc).open('hola.pdf');
	}
	function downloadPDF() {
		 pdfMake.createPdf(doc).download("<%= sale.sku %>.pdf");
	}
	btnOpen.addEventListener('click', openPDF);
	btnDownload.addEventListener('click', downloadPDF);

</script>