<br>
<p>Buscador</p>
<%= search_form_for @q, url: sales_cotizaciones_path, html: {class: "form-inline"} do |f| %>
    <%= f.search_field :id_cont, placeholder: "ID", class: "form-control perfil" %>
    <%= f.collection_select(:client_id_eq, Client.all, :id, :razon, {prompt: "Cliente"}, {class: "chosen-select"}) %>
    <%= f.select(:payment_type_eq, Sale::Payment_forms, {prompt: "Tipo de pago"}, {class: "chosen-select "}) %>
    <%= f.select(:discount_eq, Sale::Discount, {prompt: "Descuento"}, {class: "chosen-select"}) %>


    <%= f.submit 'Buscar', class: "btn btn-primary" %>
    <%= link_to sales_cotizaciones_path, class: "btn btn-success" do  %>
       <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
       Reset
    <% end %>
    <%= link_to sales_cotizaciones_path(format: 'csv'), class: "btn btn-success" do  %>
       <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
       Descargar CSV
    <% end %>
    
    
<% end %>

<br>
<h1>Cotizaciones</h1>
<hr>

<table class="table">
  <thead>
    <tr>
      <th><%= sort_link @q, :sku, "ID" %></th>
      <th><%= sort_link @q, :creation, "Fecha" %></th>
      <th><%= sort_link @q, :client_razon, "Cliente" %></th>
      <th><%= sort_link @q, :payment_type, "Tipo de pago" %></th>
      <th><%= sort_link @q, :user_last_name, "Vendedor" %></th>
      <th><%= sort_link @q, :total, "Total" %></th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.sku %></td>
        <td><%= sale.creation.strftime("%m/%d/%Y") %></td>
        <td><%= link_to "#{sale.client.razon}", admin_client_path(sale.client) %></td>
        <td><%= sale.payment_type.humanize %></td>
        <td><%= "#{sale.user.name} #{sale.user.last_name}" %></td>
        <td><%= number_to_currency(sale.total) %></td>
        <td>
          <div class="btn-group">
          
            <%= link_to 'Show', admin_sale_path(sale) %>
            <%= link_to 'Edit', edit_admin_sale_path(sale) %>
            <% if current_user.has_roles? [:super, :admin] %>
              <%= link_to 'Destroy', admin_sale_path(sale), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script type="text/javascript">
  $('.chosen-select').chosen({ 
    no_results_text: "nada encontrado",
    placeholder_text_single: "Selecciona opción",

  });
 
 

</script>

