ID,Fecha,Cliente,Tipo de pago,Vendedor,Total
<% @sales.each do |p| %>
  <%= p.id %>,<%= p.creation.strftime("%m/%d/%Y") %>,<%= p.client.razon %>,<%= p.payment_type.humanize %>,<%= "#{p.user.name} #{p.user.last_name}" %>,<%= p.total %>
<% end %>