ID,Fecha,Cliente,Tipo de pago,Estado del pago,Vendedor,Acumulado,Total
<% @sales.each do |p| %>
  <%= p.id %>,<%= p.creation.strftime("%m/%d/%Y") %>,<%= p.client.razon %>,<%= p.payment_type.humanize %>,<%= p.payment_status.humanize %>,<%= "#{p.user.name} #{p.user.last_name}" %>,<%= p.accumulated %>,<%= p.total %>
<% end %>