<br>
<p>Buscador</p>
<%= search_form_for @q, url: sales_parcialmente_pagadas_path, html: {class: "form-inline"} do |f| %>
    <%= f.search_field :sku_cont, placeholder: "SKU", class: "form-control perfil" %>
    <%= f.collection_select(:client_id_eq, Client.all, :id, :razon, {prompt: "Cliente"}, {class: "chosen-select"}) %>
    <%= f.select(:payment_type_eq, Sale::Payment_forms, {prompt: "Tipo de pago"}, {class: "chosen-select "}) %>
    <%= f.select(:discount_eq, Sale::Discount, {prompt: "Descuento"}, {class: "chosen-select"}) %>


    <%= f.submit 'Buscar', class: "btn btn-primary" %>
    <%= link_to sales_parcialmente_pagadas_path, class: "btn btn-success" do  %>
       <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
       Reset
    <% end %>
    
    
<% end %>

<br>
<h1>Parcialmente pagadas</h1>
<hr>

<table class="table">
  <thead>
    <tr>
      <th><%= sort_link @q, :sku, "ID" %></th>
      <th><%= sort_link @q, :creation, "Fecha" %></th>
      <th><%= sort_link @q, :client_razon, "Cliente" %></th>
      <th><%= sort_link @q, :payment_type, "Tipo de pago" %></th>
      <th><%= sort_link @q, :user_last_name, "Vendedor" %></th>
      <th><%= sort_link @q, :discount, "Descuento" %></th>
      <th><%= sort_link @q, :total, "Total" %></th>
      <th><%= sort_link @q, :accumulated, "Abonado" %></th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.sku %></td>
        <td><%= sale.creation.strftime("%m/%d/%Y") %></td>
        <td><%= link_to "#{sale.client.razon}", admin_client_path(sale.client) %></td>

        <td><%= sale.payment_type %></td>
        <td><%= sale.user.last_name %></td>
        <td><%=  sale.discount * 100 %>%</td>
        <td><%= number_to_currency(sale.total) %></td>
        <td><%= number_to_currency(sale.accumulated) %></td>

        <td><%= link_to 'Show', admin_sale_path(sale) %></td>
        <td><%= link_to 'Edit', edit_admin_sale_path(sale) %></td>
        <% if current_user.has_roles? [:super, :admin] %>
          <td><%= link_to 'Destroy', admin_sale_path(sale), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script type="text/javascript">
  $('.chosen-select').chosen({ 
    no_results_text: "nada encontrado",
    placeholder_text_single: "Selecciona opción",

  });


</script>

