<br>
<h3>Venta <%= @sale.sku %></h3>
<hr>

<p id="vendedor">
	<b>Vendedor:</b>
	<%= @sale.user.name %> <%= @sale.user.last_name %>
</p>

<p>
	<b>Fecha:</b>
	<%= @sale.creation.strftime("%m/%d/%Y") %>
</p>
<p>
	<b>Cliente:</b>
	<%= link_to "#{@sale.client.razon}", admin_client_path(@sale.client) %>
</p>
<p>
	<b>Tipo de pago:</b>
	<%= @sale.payment_type.humanize %>
</p>
<p>
	<b>Estado de la venta:</b>
  <span class="label label-default"><%= @sale.payment_status.humanize %></span>

</p>
<p>
	<b>Descuento:</b>
	<%= @sale.discount * 100 %>%
</p>
<p>
	<b>IVA:</b>
	<%= @sale.tax * 100 %>%
</p>
<br>
<h3>Productos</h3>
<hr>
<table class="table">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Unidad</th>
			<th>Cantidad</th>
			<th>P/Unitario</th>
			<th>Monto</th>
		</tr>
	</thead>
	<tbody>
		<% @sale.line_items.each do |line| %>
			<tr>
				<td><%= line.product.model %></td>
				<td><%= line.product.unidad %></td>
				<td><%= line.quantity %></td>
				<td><%= number_to_currency(line.price) %></td>
				<td><%= number_to_currency(line.total_price_line) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<p>
	<b>Subtotal:</b>
	<%= number_to_currency @sale.subtotal %>
</p>
<p>
	<b>Despues de descuento (<%= @sale.discount * 100 %>%):</b>
	<%= number_to_currency(@sale.subtotal - (@sale.subtotal * @sale.discount)) %>
</p>
<p>
	<b>IVA:</b>
	<%= @sale.tax * 100 %>%
</p>
<p>
	<b>Total:</b>
	<%= number_to_currency @sale.total %>
</p>
<% if not @sale.payment_status == 'cotizacion' %>
	
	<br>
		<h3>Depositos o abonos</h3>
	<% if @sale.payment_status == 'venta_concretada' %>
    <span class="label label-success">pagado</span>
	<% else %>

		<p>
			<b>Abonado al momento:</b>
			<%= number_to_currency @sale.accumulated %>
		</p>
		<p>
			<b>Resta:</b>
			<%= number_to_currency @sale.remaining %>
		</p>
	<% end %>
	<table class="table">
		<thead>
			<tr>
				<th>Concepto</th>
				<th>Monto</th>

			</tr>
		</thead>
		<tbody>
			<% @sale.deposits.each do |dep| %>
				<tr>
					<td><%= dep.description %></td>
					<td><%= number_to_currency(dep.amount) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<hr>
<% end %>

<br>

<p>
	<% if (current_user.has_roles? [:super, :admin] or @sale.payment_status != 'venta_concretada') %>
		<a href="<%= edit_admin_sale_path(@sale) %>" class="btn btn-default">
			<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
				Editar 
		</a>
	<% end %>
	<button id="pdfOpen" class="btn btn-success">
		<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
			Ver PDF 
	</button>
	<button id="pdfDownload" class="btn btn-success">
		<span class="glyphicon glyphicon-download" aria-hidden="true"></span>
			Descargar PDF 
	</button>
	
	
</p>
<br><br>

<%= render 'pdf', sale: @sale, setting: @setting %>