
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: "Nombre", required: true %>
    <%= f.input :last_name, label: "Apellido", required: true %>
    <%= f.input :phone, label: "Teléfono", required: true %>
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>


    <%= f.input :current_password, label: "Contraseña actual", hint: "introduce tu contraseña actual para guardar tus cambios", required: true %>
    <br>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                  Quieres cambiar tu contraseña?
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                
                <%= f.input :password, label: "Nueva contraseña", autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
                <%= f.input :password_confirmation, label:"Confirma tu nueva contraseña", required: false %>
              </div>
            </div>
          </div>
        </div>
      </div>

  <div class="form-actions">
    <%= f.button :submit, "Guardar" %>
  </div>
<% end %>

<% if !current_user.has_any_role? %>

  <h3>Cancel my account</h3>
  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
<% end %>

<%= link_to "Back", :back %>
