
<%= link_to 'salir', destroy_user_session_path, method: :delete %>

<h2>Hola <%= current_user.email %> tu tienes los siguientes roles: </h2>

<p>

  <% for u in current_user.roles %>
  	<%= u.name.humanize %>
	<% end %>
</p>
