<%= simple_form_for(expense, url: url) do |f| %>
  <%= f.error_notification %>
  <% if expense.user %>
    <p id="vendedor">
      <b>Creó:</b>
      <%= expense.user.name %> <%= expense.user.last_name %>
    </p>
  <% end %>
  <% if expense.try(:creation) %>
    <p>
      <b>Fecha:</b><%= expense.creation %>
    </p>
  <% else %>
     <p>
      <b>Fecha:</b><%= expense.created_at %>
    </p>
  <% end %>
  <% if current_user.has_roles? [:super, :admin] %>
    <p>
      <b>Fecha de creación de elemento:</b><%= expense.created_at %>
    </p>
  <% end %>

   <p>
     <b>Total:</b>
     <%= number_to_currency expense.total %>
   </p>

   <%= f.input :creation, label: "Fecha", wrapper_html: {class: "col-md-12 clear-all"} %>
	 <%= f.input :desc, label: "Descripción", required: false, wrapper_html: {class: "col-md-12 clear-all"} %>

	 <br>
  <h3>Lista gastos</h3>
  <hr>

   <div id="products">
      <%= f.simple_fields_for :line_buys do |d| %>
        <%= render 'line_buy_fields', f: d %>
      <% end %>
      <div class="links" style="clear: both;">
        <%= link_to_add_association 'Añadir concepto', f, :line_buys, class: "btn btn-default" %>
      </div>
    </div>
  

  <div class="button">
    <%= f.button :submit, "Guardar", class: "btn btn-success" %>
  </div>
<% end %>

<script type="text/javascript">
	$('.chosen-select').chosen({ 
    no_results_text: "nada encontrado",
    placeholder_text_single: "Selecciona opción",
    placeholder_text_multiple: "Selecciona opciones",
    // width: '30%'
  });
</script>
