<%= simple_form_for(expense, url: url) do |f| %>
  <%= f.error_notification %>
  <% if expense.user %>
    <p id="vendedor">
      <b>Creó:</b>
      <%= @expense.user.name %> <%= @expense.user.last_name %>
    </p>
  <% end %>
  <% if expense.creation %>
    <p>
      <b>Fecha:</b><%= expense.creation %>
    </p>
  <% end %>
  <% if current_user.has_roles? [:super, :admin] %>
    <p>
      <b>Fecha de creación de elemento:</b><%= expense.created_at %>
    </p>
  <% end %>
   <%= f.input :creation, label: "Fecha", wrapper_html: {class: "col-md-12 clear-all"} %>
  
	 <%= f.association :provider, label_method: :razon, label: "Proveedor", required: true, input_html: { class: 'chosen-select' }, wrapper_html: {class: "col-md-12"} %>

   <%= f.input :level, collection: @levels, label: "Nivel de importancia", required: true, wrapper_html: {class: "col-md-6"} %>

	 <%= f.input :payment_status, collection: @expense_states, label: "Estado del pago", required: true, wrapper_html: {class: "col-md-6"} %>
   <%= f.input :payment_type, collection: @payment_types, label: "Tipo de pago", required: true, wrapper_html: {class: "col-md-6"} %>
	 <%= f.input :tax, collection: @tax, label: "IVA", required: true, wrapper_html: {class: "col-md-6"} %>

	 <%= f.input :desc, label: "Comentarios", required: false, wrapper_html: {class: "col-md-12 clear-all"} %>

	 <br>
  <h3>Lista productos</h3>
  <hr>
  <% if expense.payment_status == 'pendiente_pago' or expense.payment_status.blank? %>
   <div id="products">
      <%= f.simple_fields_for :line_expenses do |d| %>
        <%= render 'line_expense_fields', f: d %>
      <% end %>
      <div class="links" style="clear: both;">
        <%= link_to_add_association 'Añadir producto', f, :line_expenses, class: "btn btn-default" %>
      </div>
    </div>
    <% else %>
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Unidad</th>
            <th>Cantidad</th>
            <th>P/Unitario</th>
            <th>Monto</th>
          </tr>
        </thead>
        <tbody>
          <% expense.line_expenses.each do |line| %>
            <tr>
              <td><%= line.product.model %></td>
              <td><%= line.product.unidad %></td>
              <td><%= line.quantity %></td>
              <td><%= number_to_currency(line.price) %></td>
              <td><%= number_to_currency(line.total_line_price) %></td>
            </tr>
          <% end %>
          </tbody>
      </table>
    <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<script type="text/javascript">
	$('.chosen-select').chosen({ 
    no_results_text: "nada encontrado",
    placeholder_text_single: "Selecciona opción",
    placeholder_text_multiple: "Selecciona opciones",
    // width: '30%'
  });
</script>
