	<div style="clear: both;" class="nested-fields row">

		<%= f.association :provider, label: "Proveedor", label_method: :razon, input_html: {class: "select1"}, wrapper_html: {class: "col-md-2"}, required: true %>


		<%= f.input :desc, label: "Concepto", input_html: {class: ""}, wrapper_html: {class: "col-md-2"}, required: true %>
		<%= f.input :document_sku, label: "SKU", input_html: {class: ""}, wrapper_html: {class: "col-md-2"}, required: true %>

   <%= f.input :payment_type, collection: @payment_types, label: "Tipo de pago", required: true, wrapper_html: {class: "col-md-2"} %>
   <%= f.input :document_type, collection: @document_types, label: "Tipo de documento", required: true, wrapper_html: {class: "col-md-2"} %>

		<%= f.input :tax, collection: @tax, label: "IVA", input_html: {class: ""}, wrapper_html: {class: "col-md-1"}, required: true %>
		<%= f.input :price, label: "Monto (sin iva)", placeholder: "$", wrapper_html: {class: " col-md-2"}, input_html: {class: "price"}, required: true %>


		<div class="col-md-2">
				<label>Subtotal</label>
				<input type="text" value="<%= f.object.total_price_line %>" disabled class="form-control">
		</div>

		<%= link_to_remove_association 'x', f, class: "btn btn-danger", data: { confirm: 'Estas seguro?' } %>
	</div>	
	<hr>

<script type="text/javascript">
	
	$('.select1').chosen({ 
    no_results_text: "nada encontrado",
    placeholder_text_single: "Selecciona opción",
  });

</script>