<br>
<p>Buscador</p>
<%= search_form_for @q, url: admin_expenses_path, html: {class: "form-inline"} do |f| %>
    <%= f.collection_select(:provider_id_eq, Provider.all, :id, :razon, {prompt: "Proveedor"}, {class: "chosen-select"}) %>
    <%= f.select(:payment_type_eq, Expense::Payment_forms, {prompt: "Tipo de pago"}, {class: "chosen-select "}) %>
    <%= f.select(:payment_status_eq, Expense::State_of_payment, {prompt: "Estado del pago"}, {class: "chosen-select "}) %>


    <%= f.submit 'Buscar', class: "btn btn-primary" %>
    <%= link_to admin_expenses_path, class: "btn btn-success" do  %>
       <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
       Reset
    <% end %>
    <%= link_to admin_expenses_path(format: 'csv'), class: "btn btn-success" do  %>
       <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
       Descargar CSV
    <% end %>
    
    
<% end %>

<h1>Compras</h1>

<table class="table">
  <thead>
    <tr>
      <th><%= sort_link @q, :id, "Id" %></th>
      <th><%= sort_link @q, :creation, "Fecha" %></th>
      <th><%= sort_link @q, :provider_razon, "Proveedor" %></th>
      <th><%= sort_link @q, :payment_type, "Tipo de pago" %></th>
      <th><%= sort_link @q, :payment_status, "Estado del pago" %></th>
      <th>Total</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.id %></td>
        <td><%= expense.creation %></td>
        <td><%= expense.provider.razon %></td>
        <td><%= expense.payment_type.humanize %></td>
        <td><%= expense.payment_status.humanize %></td>
        <td><%= number_to_currency expense.total %></td>
        <td><%= link_to 'Show', admin_expense_path(expense) %></td>
        <td><%= link_to 'Edit', edit_admin_expense_path(expense) %></td>
        <% if current_user.has_roles? [:super, :admin] %>
          <td><%= link_to 'Destroy', admin_expense_path(expense), method: :delete, data: { confirm: 'Estas seguro?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script type="text/javascript">
  $('.chosen-select').chosen({ 
    no_results_text: "nada encontrado",
    placeholder_text_single: "Selecciona opción",
    placeholder_text_multiple: "Selecciona opciones",
    // width: '30%'
  });
</script>


