ID,Fecha,Proveedor,Tipo de pago,Estado del pago,Total
<% @expenses.each do |p| %>
  <%= p.id %>,<%= p.creation.strftime("%m/%d/%Y") %>,<%= p.provider.razon %>,<%= p.payment_type.humanize %>,<%= p.payment_status.humanize %>,<%= p.total %>
<% end %>