<br>
<p>Buscador</p>
<%= search_form_for @q, url: index_nomina_path, html: {class: "form-inline"} do |f| %>
    <%= f.search_field :user_name_or_user_last_name_cont, placeholder: "Usuario", class: "form-control" %>

    <%= f.submit 'Buscar', class: "btn btn-primary" %>
    <%= link_to index_nomina_path, class: "btn btn-success" do  %>
       <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
       Reset
    <% end %>
    <%= link_to index_nomina_path(format: 'csv'), class: "btn btn-success" do  %>
       <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
       Descargar CSV
    <% end %>
    
    
<% end %>

<h1>Nominas</h1>

<table class="table">
  <thead>
    <tr>
      <th><%= sort_link @q, :id, "Id" %></th>
      <th><%= sort_link @q, :created_at, "Fecha" %></th>
      <th><%= sort_link @q, :user_name, "Usuario" %></th>
      <th>Total</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.id %></td>
        <td><%= expense.created_at %></td>
        <td><%= expense.user.name %> <%= expense.user.last_name %></td>
        <td><%= number_to_currency expense.total %></td>
        <td><%= link_to 'Show', show_buy_path(expense) %></td>
        <td><%= link_to 'Edit', edit_buy_path(expense) %></td>
        <% if current_user.has_roles? [:super, :admin] %>
          <td><%= link_to 'Destroy', admin_expense_path(expense), method: :delete, data: { confirm: 'Estas seguro?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script type="text/javascript">
  $('.chosen-select').chosen({ 
    no_results_text: "nada encontrado",
    placeholder_text_single: "Selecciona opción",
    placeholder_text_multiple: "Selecciona opciones",
    // width: '30%'
  });
</script>


