<br>
<h1>Nueva compra</h1>
<hr>

<%= simple_form_for(@expense, url: create_nomina(@expense)) do |f| %>
  <%= f.error_notification %>
  
  <p>
	 	<b>Fecha:</b>
	 	<%= "#{Date.today.day}/#{Date.today.month}/#{Date.today.year}" %>
	 </p> 
   <p>
     <b>Total:</b>
     <%= number_to_currency expense.total %>
   </p>

	 <%= f.input :creation, label: "Fecha", required: true, wrapper_html: {class: "col-md-12 clear-all"} %>
	 <%= f.input :desc, label: "Descripción", required: true, wrapper_html: {class: "col-md-12 clear-all"} %>

	 <br>
  <h3>Lista empleados</h3>
  <hr>

   <div id="products">
      <%= f.simple_fields_for :line_buys do |d| %>
        <%= render 'line_buy_fields', f: d %>
      <% end %>
      <div class="links" style="clear: both;">
        <%= link_to_add_association 'Añadir concepto', f, :line_buys, class: "btn btn-default" %>
      </div>
    </div>
  

  <div class="button">
    <%= f.button :submit, "Guardar", class: "btn btn-success" %>
  </div>
<% end %>

<script type="text/javascript">
	$('.chosen-select').chosen({ 
    no_results_text: "nada encontrado",
    placeholder_text_single: "Selecciona opción",
    placeholder_text_multiple: "Selecciona opciones",
    // width: '30%'
  });
</script>
