<br>
<h3>Gasto</h3>
<hr>

<p>
	<b>Creó:</b>
	<%= @expense.user.name %> <%= @expense.user.last_name %>
</p>

<p>
	<b>Fecha:</b>
	<%= @expense.created_at.strftime("%m/%d/%Y") %>
</p>

<p>
	<b>Comentarios:</b><br>
	<%= @expense.desc %>
</p>

<br>
<h3>Lista</h3>
<hr>
<table class="table">
	<thead>
		<tr>
			<th>Proveedor</th>
			<th>Concepto</th>
			<th>SKU</th>
			<th>Tipo de pago</th>
			<th>Documento</th>
			<th>IVA</th>
			<th>Monto</th>
			<th>Subtotal</th>
		</tr>
	</thead>
	<tbody>
		<% @expense.line_buys.each do |line| %>
			<tr>
				<td><%= line.provider.razon %></td>
				<td><%= line.desc %></td>
				<td><%= line.document_sku %></td>
				<td><%= line.payment_type %></td>
				<td><%= line.document_type %></td>
				<% if line.tax %>
					<td>Si</td>
				<% else %>
					<td>No</td>
				<% end %>
				<td><%= number_to_currency(line.price) %></td>
				<td><%= number_to_currency(line.total_price_line) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<p>
   <b>Total:</b>
   <%= number_to_currency @expense.total %>
</p>



<br>

<div class="action-butons">

	<a href="<%= edit_buy_path(@expense) %>" class="btn btn-default">
		<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
			Editar 
	</a>
	<button onclick="myPrint()" class="btn btn-success">
		<span class="glyphicon glyphicon-download" aria-hidden="true"></span>
			Ver en PDF 
	</button>
	
</div>
<br><br>

<script >
	function myPrint() {
		window.print();
	}
</script>


