<br>
<h3>Compra</h3>
<hr>




<p>
	<b>Nivel:</b>
	<%= @expense.level %>
</p>
<p id="vendedor">
	<b>Comprador que creó:</b>
	<%= @expense.user.name %> <%= @expense.user.last_name %>
</p>

<p>
	<b>Fecha:</b>
	<%= @expense.created_at.strftime("%m/%d/%Y") %>
</p>
<p>
	<b>Proveedor:</b>
	<%= link_to "#{@expense.provider.razon}", admin_provider_path(@expense.provider) %>
</p>
<p>
	<b>Tipo de pago:</b>
	<%= @expense.payment_type.humanize %>
</p>
<p>
	<b>Estado del pago:</b>
	<%= @expense.payment_status.humanize %>
</p>
<p>
	<b>IVA:</b>
	<%= @expense.tax * 100 %>%
</p>
<br>
<h3>Productos</h3>
<hr>
<table class="table">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Unidad</th>
			<th>Cantidad</th>
			<th>P/Unitario</th>
			<th>Monto</th>
		</tr>
	</thead>
	<tbody>
		<% @expense.line_expenses.each do |line| %>
			<tr>
				<td><%= line.product.model %></td>
				<td><%= line.product.unidad %></td>
				<td><%= line.quantity %></td>
				<td><%= number_to_currency(line.price) %></td>
				<td><%= number_to_currency(line.total_line_price) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<p>
	<b>Subtotal:</b>
	<%= number_to_currency @expense.subtotal %>
</p>
<p>
	<b>IVA:</b>
	<%= @expense.tax * 100 %>%
</p>
<p>
	<b>Total:</b>
	<%= number_to_currency @expense.total %>
</p>


<br>

<div class="action-butons">

	<a href="<%= edit_admin_expense_path(@expense) %>" class="btn btn-default">
		<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
			Editar 
	</a>
	<button onclick="myPrint()" class="btn btn-success">
		<span class="glyphicon glyphicon-download" aria-hidden="true"></span>
			Ver en PDF 
	</button>
	
</div>
<br><br>

<script >
	function myPrint() {
		window.print();
	}
</script>


