<%= simple_form_for(provider, url: url) do |f| %>
  <%= f.error_notification %>

  <%= f.input :razon, label: "Razon social" %>
  <%= f.input :rfc, label: "RFC" %>
  <%= f.input :state, label: "Estado" %>
  <%= f.input :city, label: "Ciudad" %>
  <%= f.input :localidad, label: "Localidad" %>
  <%= f.input :cp, label: "CP" %>
  <%= f.input :col, label: "Colonia" %>
  <%= f.input :address, label: "Direccion" %>
  <%= f.input :ext_number, label: "Numero exterior" %>
  <%= f.input :int_number, label: "Numero interior" %>
  <%= f.input :email, label: "Email" %>
  <%= f.input :phone, label: "Telefono" %>
  <%= f.input :comment, label: "Observaciones" %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
