<br>
<p>Buscador</p>
<%= search_form_for @q, url: admin_providers_path, html: {class: "form-inline"} do |f| %>
    <%= f.search_field :razon_or_rfc_cont, placeholder: "razón social", class: "form-control" %>
    <%= f.search_field :email_cont, placeholder: "email", class: "form-control" %>
    <%= f.search_field :phone_cont, placeholder: "teléfono", class: "form-control" %>
    <%= f.submit 'Buscar', class: "btn btn-primary" %>
    <%= link_to admin_providers_path, class: "btn btn-success" do  %>
       <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
       Reset
    <% end %>
    <br><br>
    <% if current_user.has_roles? [:super, :admin] %>
      <%= link_to admin_products_path(format: 'csv'), class: "btn btn-success" do  %>
         <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
         Descargar CSV
      <% end %>

      <%= link_to admin_products_path(format: "pdf"), class: "btn btn-success" do %>
        <span class="glyphicon glyphicon-download" aria-hidden="true"></span> 
        Descargar PDF
      <% end %>
    <% end %>
    
<% end %>

<h1>Proveedores</h1>
<hr>
<table class="table">
  <thead>
    <tr>
      <th>Razón</th>
      <th>Estado</th>
      <th>Ciudad</th>
      <th>Mail</th>
      <th>Teléfono</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_providers.each do |provider| %>
      <tr>
        <td><%= provider.razon %></td>
        <td><%= provider.state %></td>
        <td><%= provider.city %></td>
        <td><%= provider.email %></td>
        <td><%= provider.phone %></td>

        <td><%= link_to 'ver más', admin_provider_path(provider) %></td>
        <% if current_user.has_roles? [:super, :admin, :gerente_ventas] %>
          <td><%= link_to 'editar', edit_admin_provider_path(provider) %></td>
        <% end %>
        <% if current_user.has_roles? [:super, :admin] %>
          <td><%= link_to 'Destroy', admin_provider_path(provider), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

