
<hr>
<p>
	<b>Razón social:</b>
	<%= @admin_provider.razon %>
</p>
<p>
	<b>RFC:</b>
	<%= @admin_provider.rfc %>
</p>
<p>
	<b>Address:</b>
	<%= @admin_provider.address %>
</p>
<p>
	<b>CP:</b>
	<%= @admin_provider.cp %>
</p>
<p>
	<b>Ciudad:</b>
	<%= @admin_provider.city %>
</p>
<p>
	<b>Localidad:</b>
	<%= @admin_provider.localidad %>
</p>
<p>
	<b>Número exterior:</b>
	<%= @admin_provider.ext_number %>
</p>
<p>
	<b>Número interior:</b>
	<%= @admin_provider.int_number %>
</p>
<p>
	<b>Télefono:</b>
	<%= @admin_provider.phone %>
</p>
<p>
	<b>Email:</b>
	<%= @admin_provider.email %>
</p>
<p>
	<b>Estado:</b>
	<%= @admin_provider.state %>
</p>
<p>
	<b>Colonia:</b>
	<%= @admin_provider.col %>
</p>
<p>
	<b>Observaciones:</b>
	<%= @admin_provider.comment %>
</p>