
	<div class="navigation">
		<a href="<%= root_path %>">
			
			<div class="logo">
					<%= image_tag 'iso.png' %>

			</div>
		</a>


		<a href="<%= admin_root_path %>">
			<div class="section-link <%= 'active' if controller_name == 'home' %>">
				<div class="img-nav">
					<%= image_tag 'home.svg' %>
				</div>
				<div class="text">
					<div class="sq"></div>
					Inicio
				</div>
			
			</div>
		</a>


			<div class="section-link">
				<div class="img-nav">
					<%= image_tag 'plus.svg' %>
				</div>
				<div class="list">
					<div class="sq"></div>
					<ul>
						<% if current_user.has_roles? [:super, :admin, :ventas, :gerente_ventas] %>
							<li>
								<a href="<%= new_admin_sale_path %>">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									Nueva venta o cotización
								</a>
							</li>
							<li>
								<a href="<%= new_admin_client_path %>">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									Nuevo cliente
								</a>
							</li>
						<% end %>
						
						<% if current_user.has_roles? [:super, :admin, :compras, :gerente_compras] %>
							<li>
								<a href="<%= new_admin_provider_path %>">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									Nuevo proveedor
								</a>
							</li>
							
						<% end %>
						<% if current_user.has_roles? [:super, :admin, :inventario, :gerente_inventario] %>
							<li>
								<a href="<%= new_admin_product_path %>">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									Nuevo producto
								</a>
							</li>
							<li>
								<a href="<%= new_admin_entry_path %>">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									Entrada de mercancia
								</a>
							</li>
							<li>
								<a href="<%= new_out_path %>">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									Salida de mercancia
								</a>
							</li>
						<% end %>



					</ul>
				</div>
			</div>

		<% if current_user.has_roles? [:super] %>
			<a href="#">
				<div class="section-link">
					<div class="img-nav">
						<%= image_tag 'history.svg' %>

					</div>
					<div class="text">
						<div class="sq"></div>
						Movimientos
					</div>
				</div>
			</a>
		<% end %>

		<% if current_user.has_roles? [:super, :admin, :ventas, :gerente_ventas] %>
		<a href="<%= sales_landing_path %>">
			<div class="section-link <%= 'active' if action_name == 'landing_sales' %>">
				<div class="img-nav">
					<%= image_tag 'money.svg' %>

				</div>
				<div class="text">
					<div class="sq"></div>
					Ventas
				</div>
			</div>
		</a>
		<% end %>

		<% if current_user.has_roles? [:super, :admin, :inventario, :gerente_inventario, :gerente_ventas, :gerente_compras] %>

			<a href="<%= products_landing_path %>">
				<div class="section-link <%= 'active' if (controller_name == 'products') %>">
					<div class="img-nav">
						<%= image_tag 'paquete.svg' %>

					</div>
					<div class="text">
						<div class="sq"></div>
						Inventario
					</div>
				</div>
			</a>
		<% end %>

		<% if current_user.has_roles? [:super, :admin, :produccion, :gerente_produccion] %>
			<a href="<%= users_landing_path %>">
				<div class="section-link
							<%= 'active' if (controller_name == 'user' or controller_name == 'roles') %>">

					<div class="img-nav">
						<%= image_tag 'location.svg' %>

					</div>
					<div class="text">
						<div class="sq"></div>
						Produccion
					</div>
				</div>
			</a>
		<% end %>
		
		<% if current_user.has_roles? [:super, :admin] %>
			<a href="<%= users_landing_path %>">
				<div class="section-link
							<%= 'active' if (controller_name == 'user' or controller_name == 'roles') %>">

					<div class="img-nav">
						<%= image_tag 'people.svg' %>

					</div>
					<div class="text">
						<div class="sq"></div>
						Empleados
					</div>
				</div>
			</a>
		<% end %>

		<% if current_user.has_roles? [:super, :admin, :compras, :gerente_compras] %>
			<a href="<%= expenses_landing_path %>">
				<div class="section-link
							<%= 'active' if (action_name == 'landing_expenses') %>">

					<div class="img-nav">
						<%= image_tag 'handshake.svg' %>

					</div>
					<div class="text">
						<div class="sq"></div>
						Compras y Gastos
					</div>
				</div>
			</a>
		<% end %>

		<% if current_user.has_roles? [:super, :admin, :ventas, :gerente_ventas] %>

			<a href="<%= admin_clients_path %>">
				<div class="section-link
										<%= 'active' if (controller_name == 'clients') %>">
					<div class="img-nav">
						<%= image_tag 'group.svg' %>

					</div>
					<div class="text">
						<div class="sq"></div>
						Clientes y proveedores
					</div>
				</div>
			</a>
		<% end %>


		<% if current_user.has_roles? [:super, :admin, :finanzas, :gerente_finanzas, :contabilidad, :gerente_contabilidad, :ventas, :gerente_ventas, :compras, :gerente_compras] %>

			<a href="<%= reports_path %>">
				<div class="section-link">
					<div class="img-nav">
						<%= image_tag 'bar-chart.svg' %>

					</div>
					<div class="text">
						<div class="sq"></div>
						Reportes
					</div>
				</div>
			</a>
		<% end %>

		<% if current_user.has_roles? [:super, :admin] %>
			<a href="<%= edit_admin_setting_path(@setting) %>">
				<div class="section-link
								<%= 'active' if (controller_name == 'settings') %>">
					<div class="img-nav">
						<%= image_tag 'settings.svg' %>

					</div>
					<div class="text">
						<div class="sq"></div>
						Opciones
					</div>
				</div>
			</a>
		<% end %>


			<div class="section-link">
				<div class="img-nav">
					<%= image_tag 'user-1.svg' %>
				</div>
					<div class="list">
					<div class="sq"></div>
					<ul>
						<li>
							<a href="<%= edit_user_registration_path %>">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
								Editar mi perfil 
							</a>
						</li>
						<li>
							<%= link_to destroy_user_session_path, method: :delete do %>
								<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
								Cerrar sesión
							<% end %>
						</li>
					</ul>
				</div>
			</div>
	</div>