


<h2>Mofidicar usuario</h2>
<hr>
<%= simple_form_for @user, url: user_update_path, defaults: {wrapper_html: {class:"col-xm-12"}} do |f| %>
  <%= f.error_notification %>

	<%= f.input :name, label: 'Nombre' %>
	<%= f.input :last_name, label: 'Apellido' %>
	<%= f.input :rfc, label: 'RFC' %>
	<%= f.input :phone, label: 'Telefono de contacto' %>
	<%= f.input :state, label: 'Estado' %>
	<%= f.input :city, label: 'Ciudad' %>
	<%= f.input :cp, label: 'Codigo postal' %>
	<%= f.input :address, label: 'Dirección' %>
	<%= f.input :ext_number, label: 'Numero exterior' %>
	<%= f.input :int_number, label: 'Numero interior' %>
	<%= f.input :col, label: 'Colonia' %>
	<br>
	<%= f.input :education, label: 'Educación', collection: @educations, prompt: "Selecciona una opción" %>
	<%= f.input :email %>

	<%= f.association :roles, as: :check_boxes %>

	<%= f.button :submit, "Guardar", class: "button-clear btn-block btn-success", id: 'btn-margin-bottom' %>
<% end %>