<% @title = "Manejo de usuarios" %>

<div class="">
	
	<% if current_user.has_roles? [:super, :admin] %>
		<a href="<%= user_new_path %>">
			<div class="col-sm-6 col-md-3 box">
				<div class="box-border">
					<%= image_tag 'plus.svg' %>
					<p>Nuevo empleado</p>
				</div>
			</div>
		</a>
		<a href="<%= users_list_path %>">
			<div class="col-sm-6 col-md-3 box">
				<div class="box-border">
					<%= image_tag 'list.svg' %>
					<p>Listado de empleados</p>
				</div>
			</div>
		</a>
	<% end %>

	<% if current_user.has_role? :super %>
		<a href="<%= users_web_path %>">
			<div class="col-sm-6 col-md-3 box">
				<div class="box-border">
					<%= image_tag 'list.svg' %>
					<p>Listado de usuarios web </p>
				</div>
			</div>
		</a>
		<a href="<%= new_admin_role_path %>">
			<div class="col-sm-6 col-md-3 box">
				<div class="box-border">
					<%= image_tag 'plus.svg' %>
					<p>Nuevo rol</p>
				</div>
			</div>
		</a>
		<a href="<%= admin_roles_path %>">
			<div class="col-sm-6 col-md-3 box">
				<div class="box-border">
					<%= image_tag 'list.svg' %>
					<p>Listado de roles actuales</p>
				</div>
			</div>
		</a>
	<% end %>
</div>

