<br>
	<%= search_form_for @q, url: users_web_path, format: :pdf, html: {class: "form-inline"} do |f| %>
		<%= f.search_field :name_cont, placeholder: "nombre", class: "form-control" %>
		<%= f.search_field :last_name_cont, placeholder: "apellido", class: "form-control" %>
		<%= f.search_field :email_cont, placeholder: "email", class: "form-control" %>
		<%= f.submit 'Buscar', class: "btn btn-primary" %>

		<%= link_to users_web_path(format: 'csv'), class: "btn btn-success" do  %>
			 <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
			 Descargar CSV
		<% end %>

		<%= link_to users_web_path(format: "pdf"), class: "btn btn-success" do %>
      <span class="glyphicon glyphicon-download" aria-hidden="true"></span> PDF
    <% end %>
		
	<% end %>
<hr>

	<%= @users.count %>


<table class="table">
	<thead>
		<tr>
			<th><%= sort_link(@q, :name, 'Nombre') %></th>
			<th><%= sort_link @q, :last_name, 'Apellido' %></th>
			<th>Email</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |u| %>
				<tr>
					<td><%= u.name %></td>
					<td><%= u.last_name %></td>
					<td><%= u.email %></td>
					
					<td><%= link_to 'editar', user_edit_path(u) %></td>
					<% if current_user.has_role? :super %>
						<td><%= link_to 'eliminar', user_destroy_path(u), method: :delete, data: {confirm: "Estas seguro?"} %></td>
					<% end %>
				</tr>
		<% end %>
	</tbody>
</table>

