<%= simple_form_for(warehouse, url: url) do |f| %>
  <%= f.error_notification %>
<div class="row">
	
  <%= f.input :name, label: "Nombre", required: true, wrapper_html: {class: "col-md-3"} %>
  <%= f.input :country, label: "País", required: true, wrapper_html: {class: "col-md-3"}, as: :string %>
  <%= f.input :state, label: "Estado", required: true, wrapper_html: {class: "col-md-3"} %>
  <%= f.input :city, label: "Ciudad", required: true, wrapper_html: {class: "col-md-3"} %>
  <%= f.input :cp, label: "C.P.", required: true, wrapper_html: {class: "col-md-3"} %>
  <%= f.input :address, label: "Dirección", required: true, wrapper_html: {class: "col-md-6"} %>
  <%= f.input :phone, label: "Teléfono de contacto", required: true, wrapper_html: {class: "col-md-3"} %>
</div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
