<br>
<p>Buscador</p>
<%= search_form_for @q, url: admin_warehouses_path, html: {class: "form-inline"} do |f| %>
    <%= f.search_field :name_cont, placeholder: "Nombre", class: "form-control" %>
    <%= f.search_field :country_cont, placeholder: "País", class: "input perfil" %>
    <%= f.search_field :state_cont, placeholder: "Estado", class: "input perfil" %>
    <%= f.search_field :city_cont, placeholder: "Ciudad", class: "input perfil" %>

    <%= f.submit 'Buscar', class: "btn btn-primary" %>

    <%= link_to admin_entries_path, class: "btn btn-success" do  %>
       <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
       Reset
    <% end %>
    <br><br>
    <%= link_to admin_products_path(format: 'csv'), class: "btn btn-success" do  %>
       <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
       Descargar CSV
    <% end %>

    <%= link_to admin_products_path(format: "pdf"), class: "btn btn-success" do %>
      <span class="glyphicon glyphicon-download" aria-hidden="true"></span> 
      Descargar PDF
    <% end %>
    
    
<% end %>

<h1>Bodegas</h1>
<hr>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Pais</th>
      <th>Estado</th>
      <th>Ciudad</th>
      <th>Teléfono Principal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @warehouses.each do |warehouse| %>
      <tr>
        <td><%= warehouse.name %></td>
        <td><%= warehouse.country %></td>
        <td><%= warehouse.state %></td>
        <td><%= warehouse.city %></td>
        <td><%= warehouse.phone %></td>

        <td><%= link_to 'Show', admin_warehouse_path(warehouse) %></td>
        <td><%= link_to 'Edit', edit_admin_warehouse_path(warehouse) %></td>
        <td><%= link_to 'Destroy', admin_warehouse_path(warehouse), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>