<br>
<h2>Bodega</h2>
<hr>

<p>
	<b>Nombre:</b>
	<%= @warehouse.name %>
</p>
<p>
	<b>Teléfono de contacto:</b>
	<%= @warehouse.phone %>
</p>
<p>
	<b>País:</b>
	<%= @warehouse.country %>
</p>
<p>
	<b>Estado:</b>
	<%= @warehouse.state %>
</p>
<p>
	<b>Ciudad:</b>
	<%= @warehouse.city %>
</p>
<p>
	<b>C.P.:</b>
	<%= @warehouse.cp %>
</p>
<p>
	<b>Dirección:</b>
	<%= @warehouse.address %>
</p>