// Place all the styles related to the admin/Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#btn-margin-bottom {
	margin-bottom: 5rem;
}
.glyphicon {
	margin-right: 1rem;
}
.navigation {
	z-index: 1;
	position: fixed;
	left: 0;
	height: 100%;
	width: 70px;
	background: #EFEFEF;
	.logo {
		text-align: center;
		background-color: white;
		height: 50px;
		img {
	    width: 50px;
	    // height: 50px;
	    position: relative;
	    top: 12px;
		}
	}
}

.section-link {
	width: 70px;
	height: 40px;
	z-index: 22;
	position: relative;
	cursor: pointer;
	.text {
		.sq {
			width: 10px;
			height: 10px;
			left: -5px;
			top: 10px;
			background-color: #333333;
			position: absolute;
			transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
		}
		text-align: center;
		z-index: -999999;
		padding: 5px 10px;
		min-width: 10rem;
	  background: #333333;
	  position: absolute;
	  top: 8px;
	  left: -50px;
	  opacity: 0;
	  transition: all 0.3s;
	  color: white;
	  border-radius: 3px;
	}
	.list {
		.sq {
			width: 10px;
			height: 10px;
			left: -5px;
			top: 10px;
			background-color: #EFEFEF;
			position: absolute;
			transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
		}
		min-width: 30rem;
		z-index: -999999;
		padding: 1rem 0.5rem;
	  background: #EFEFEF;
	  position: absolute;
	  top: 8px;
	  left: -300px;
	  opacity: 0;
	  transition: all 0.3s;
	  border-radius: 4px;
	  ul {
	  	list-style: none; 
	  	margin: 0;
	  	li {
	  		margin: 1rem 0;
	  	}
	  	li a {
	  		color: #999999;
	  		&:hover {
	  			color: #333;
	  		}
	  	}
	  }
	}


	&.active {
		background: white;
		box-shadow: -2px 2px 2px rgba(30,30,30,0.2);
	}
	&:hover {
		// background: #F5F5F5;
	}

	&:hover .text, &:hover .list {
		left: 80px;
		opacity: 1;
	}
}
.section-link.bottom {
	bottom: 0;
	position: absolute;
}

.img-nav {
	text-align: center;
  position: relative;
  top: 9px;
  img {
    height: 20px;
    text-align: center;
  }
}

main {
	width: auto;
	margin-left: 70px;
	background-color: white;
}
.total-bordered {
	// border: 1px solid black;
	text-align: left;
	margin-top: 2rem;
	div {
		width: auto;
	}
	.total {
		font-size: 2rem;
	}
}
.button {
	margin: 2rem 0;
}
.clear-all {
	margin: 2rem 0;
	clear: both;
}

.chart {
}
.remove_fields {
	position: relative;
	top: 26px;
}
.bordered-table {
	width: 40vw;
    min-width: 10vw;
    border: 1px solid black;
	display: inline-block;
	float: left;
	
	.header-table {
		border-bottom: 1px solid black;
		h4 {
			border-right: 1px solid black;
			padding: 2rem;

			display: inline-block;
			width: 27vw;

		}
		div {
			display: inline-block;
			padding: 1rem;
			font-size: 1.4vw;
		}
	}

}
.bordered-header {
	width: 80vw;
	border: 1px solid black;
	display: block;
	h3	{
    padding: 1rem;
    width: 70%;
    display: inline-block;
    border-right: 1px solid black;
	}
	p {
		display: inline-block;
    padding: 1rem;
    font-size: 1.4vw;
	}
}
.chart {
	clear: both;
}
// .nested-fields:nth-child(odd) {
// 	// background-color: red;
// }

@media print {
	.navigation {
		display: none;

	}
	.action-butons {
		display: none;
	}
}