// Place all the styles related to the admin/pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.img-header {
	// position: relative;
	// text-align: center;
	// width: 22rem;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
	img {
    height: 11rem;
    // position: absolute;
    // top: 50%;
    // margin-left: -11rem; 
    // transform: translateY(50%);
    // transform: translateX(-50%);
	}
}