.input {
	height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  // -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  // -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  // transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;	
}
.input-inline {
	.input {}
}
.perfil {
	width: 7rem;
}