// Place all the styles related to the admin/User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box {
	padding: 15px 0;
	.box-border {
		height: 27rem;
		text-align: center;
		padding: 1rem;
		border: 2px solid #999999;
		border-radius: 4px;
		&:hover {
			border: 2px solid #3C92CA;
		}
		img {
			height: 6rem;
	    position: relative;
	    margin-top: 4rem;
		}
		p {
			margin-top: 5rem;
	    font-size: 2rem;
		}
	}
}

.button-clear {
	clear: both;
	display: block;
}