// Place all the styles related to the front/Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notice {
	background: black;
	position: fixed;
	top: 3rem;
	right: 2rem;
	color: rgba(250,250,250,0.9);
	padding: 1rem;
	padding: 1rem 1.5rem;
	border-radius: 5px;
	z-index: 999;

}