
<%= link_to 'atras',:back %>

<h2>Mofidicar rol</h2>
<hr>
<%= simple_form_for @role, url: admin_role_path(@role), method: :put, defaults: {wrapper_html: {class:"col-xm-12"}} do |f| %>
	<%= f.input :name %>
	<%= f.input :comment %>
	<%= f.button :submit, "Guardar", class: "button-clear btn-block btn-success", id: 'btn-margin-bottom' %>

<% end %>