<br>
<h2>Roles actuales</h2>
<hr>
<table class="table">
	<thead>
		<tr>
			<th>Nombre</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @roles.each do |u| %>
				<tr>
					<td><%= u.name %></td>
					<td><%= link_to 'editar', edit_admin_role_path(u) %></td>
					<% if current_user.has_role? :super %>
						<td><%= link_to 'eliminar', admin_role_path(u), method: :delete, data: {confirm: "Estas seguro?"} %></td>
					<% end %>
				</tr>
		<% end %>
	</tbody>
</table>