<%= link_to 'atras',:back %>
<br>

<h2>Nuevo rol</h2>
<hr>

<%= simple_form_for @role, url: admin_roles_path(@role), method: :post, defaults: {wrapper_html: {class:"col-xm-12"}} do |f| %>
	<%= f.input :name %>
	<%= f.input :comment %>
	<%= f.button :submit, "Guardar", class: "button-clear btn-block btn-success", id: 'btn-margin-bottom' %>

<% end %>
