<%= simple_form_for(setting, url: url) do |f| %>
  <%= f.error_notification %>

  <% if setting.img_64 %>
  	<%= image_tag "#{setting.img_64}", height: '200' %>
	<% end %>
  <%= f.input :img_64, label: "Imagen en codigo 64", required: true %>
  <%= f.input :name, label: "Nombre de empresa", required: true %>
  <%= f.input :razon, label: "Razon social de empresa", required: true %>
  <%= f.input :rfc, label: "RFC de empresa", required: true %>
  <%= f.input :phone_1, label: "Teléfono 1", required: true %>
  <%= f.input :phone_2, label: "Teléfono 2" %>
  <%= f.input :email_1, label: "Email 1", required: true %>
  <%= f.input :email_2, label: "Email 2" %>
  <%= f.input :web_page, label: "Página Web" %>
  <%= f.input :state, label: "Estado", required: true %>
  <%= f.input :city, label: "Ciudad", required: true %>
  <%= f.input :localidad, label: "Localidad" %>
  <%= f.input :cp, label: "C.P.", required: true %>
  <%= f.input :address, label: "Dirección", required: true %>
  <%= f.input :col, label: "Colonia", required: true %>
  <%= f.input :ext_number, label: "Número exterior", required: true %>
  <%= f.input :int_number, label: "Número interior" %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
