<p id="notice"><%= notice %></p>

<h1>Admin Settings</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_settings.each do |admin_setting| %>
      <tr>
        <td><%= link_to 'Show', admin_setting %></td>
        <td><%= link_to 'Edit', edit_admin_setting_path(admin_setting) %></td>
        <td><%= link_to 'Destroy', admin_setting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Setting', new_admin_setting_path %>
