<%= simple_form_for(product, url: url) do |f| %>
  <%= f.error_notification %>

  	<%= f.input :product_type, collection: @product_types, prompt: "Selecciona tipo de producto", label: false %>
    <%= f.input :model, label: "Nombre" %>
    <%= f.input :sku, label: "SKU" %>
    <%= f.input :unidad, collection: @unidades, label: "Unidad", required: true, input_html: {class: "input perfil"} %>
  	<%= f.input :capacity, label: "Capacidad" %>


    <%= f.input :public_price, label: "Precio" %>
    <%= f.input :cost, label: "Costo"%>
  	<%= f.input :desc, label: "Descripcion "%>

  <div class="form-actions">
    <%= f.button :submit, 'Guardar', class: "btn btn-success btn-block", id: 'btn-margin-bottom' %>
  </div>
<% end %>
