<br>
<p>Buscador</p>
<%= search_form_for @q, url: admin_products_path, html: {class: "form-inline"} do |f| %>

    <%= f.search_field :sku_cont, placeholder: "ID", class: "form-control col-xm-1" %>
    <%= f.search_field :model_cont, placeholder: "nombre", class: "form-control" %>

    <%= f.submit 'Buscar', class: "btn btn-primary" %>
    <%= link_to admin_products_path, class: "btn btn-success" do  %>
       <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
       Reset
    <% end %>
    <br><br>
    <%= link_to admin_products_path(format: 'csv'), class: "btn btn-success" do  %>
       <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
       Descargar CSV
    <% end %>

    <%= link_to admin_products_path(format: "pdf"), class: "btn btn-success" do %>
      <span class="glyphicon glyphicon-download" aria-hidden="true"></span> 
      Descargar PDF
    <% end %>
    <% if current_user.has_roles? [:super, :admin] %>
      <a href="#" class="btn btn-warning" title="Masive import" data-toggle="modal" data-target="#import">
        <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Importar CSV 
      </a>
    <% end %>
    
<% end %>
<h1>Productos</h1>
<hr>

<table class="table">
  <thead>
    <tr>
      <th>SKU</th>
      <th><%= sort_link @q, :model, 'Nombre' %></th>
      <th><%= sort_link @q, :capacity, 'Capacidad' %></th>
      <th><%= sort_link @q, :unidad, 'Unidad' %></th>


      <th><%= sort_link @q, :quantity, 'Cantidad' %></th>
      <th><%= sort_link @q, :public_price, 'Precio' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.sku %></td>
        <td><%= product.model %></td>
        <td><%= product.capacity %></td>
        <td><%= product.unidad.humanize %></td>


        <td><%= product.quantity %></td>
        <td>
          <select class="form-control">
            <option>Publico: <%= number_to_currency(product.public_price) %></option>
            <% if current_user.has_any_role? %>
              <option>Medio-mayoreo: <%= number_to_currency(product.price_1) %></option>
              <option>Mayoreo: <%= number_to_currency(product.price_2) %></option>

              <% if product.cost and current_user.has_roles? [:super, :admin]%>
                <option>Costo: <%= number_to_currency(product.cost) %></option>
              <% end %>
            <% end %>
          </select>
        </td>

        <td><%= link_to 'Ver', admin_product_path(product) %></td>

        <% if current_user.has_roles? [:super, :admin, :inventario, :gerente_inventario] %>
          <td><%= link_to 'Editar', edit_admin_product_path(product) %></td>
          <td><%= link_to 'Destruir', admin_product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.has_roles? [:super, :admin] %>
  <div class="modal fade" id="import" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        
        <div class="modal-body text-center">
          <%= form_tag(import_admin_products_path, multipart: true) do  %>
            <%= file_field_tag :file %>
            <br>
            <%= submit_tag "Importar", class: "btn btn-success btn-block" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>


