ID,Nombre,Unidad,Capacidad,Cantidad,Precio,Precio Medio-mayoreo (5%),Precio Mayoreo (7%)
<% @products.each do |p| %>
  <%= p.id %>,<%= p.model %>,<%= p.unidad %>,<%= p.capacity %>,<%= p.quantity %>,<%= p.public_price %>,<%= p.price_1 %>,<%= p.price_2 %>
<% end %>