<% @title = "Inventario" %>

<div class="">
	
	<% if current_user.has_roles? [:super, :admin, :gerente_ventas, :gerente_compras, :gerente_inventario, :inventario] %>
		<a href="<%= new_out_path %>">
			<div class="col-sm-6 col-md-3 box">
				<div class="box-border">
					<%= image_tag 'plus.svg' %>
					<p>Salida de mercancia</p>
				</div>
			</div>
		</a>
		<a href="<%= new_admin_entry_path %>">
			<div class="col-sm-6 col-md-3 box">
				<div class="box-border">
					<%= image_tag 'plus.svg' %>
					<p>Entrada de mercancia</p>
				</div>
			</div>
		</a>
		<a href="<%= new_admin_product_path %>">
			<div class="col-sm-6 col-md-3 box">
				<div class="box-border">
					<%= image_tag 'plus.svg' %>
					<p>Nuevo producto</p>
				</div>
			</div>
		</a>
		<a href="<%= admin_entries_path %>">
			<div class="col-sm-6 col-md-3 box">
				<div class="box-border">
					<%= image_tag 'list.svg' %>
					<p>Ver entradas de mercancia</p>
				</div>
			</div>
		</a>
		<a href="<%= list_exits_path %>">
			<div class="col-sm-6 col-md-3 box">
				<div class="box-border">
					<%= image_tag 'list.svg' %>
					<p>Ver salidas de mercancia</p>
				</div>
			</div>
		</a>
		<a href="<%= admin_products_path %>">
			<div class="col-sm-6 col-md-3 box">
				<div class="box-border">
					<%= image_tag 'list.svg' %>
					<p>Ver inventario</p>
				</div>
			</div>
		</a>
		<a href="<%= admin_warehouses_path %>">
			<div class="col-sm-6 col-md-3 box">
				<div class="box-border">
					<%= image_tag 'list.svg' %>
					<p>Bodegas</p>
				</div>
			</div>
		</a>
	<% end %>
	<% if current_user.has_roles? [:super, :admin, :gerente_inventario, :gerente_compras, :gerente_ventas] %>
		<a href="<%= new_admin_warehouse_path %>">
			<div class="col-sm-6 col-md-3 box">
				<div class="box-border">
					<%= image_tag 'plus.svg' %>
					<p>Nueva bodega</p>
				</div>
			</div>
		</a>
	<% end %>

	
</div>

