<br>

<hr>
<p>
	<b>Tipo de producto: </b>
	<%= @product.product_type.humanize %>
</p>
<p>
	<b>Clave: </b>
	<%= @product.sku %>
</p>

<p>
	<b>Nombre: </b>
	<%= @product.model %>
</p>
<% if @product.capacity %>
<p>
	<b>Capacidad: </b>
	<%= @product.capacity %>
</p>
<% end %>
<p>
	<b>Unidad: </b>
	<%= @product.unidad.humanize %>
</p>

<p>
	<b>Precio de costo: </b>
	$ <%= @product.cost %>
</p>
<p>
	<b>Precio al público: </b>
	$ <%= @product.public_price %>
</p>
<p>
	<b>Precio Medio-mayoreo (5%): </b>
	<%= number_to_currency @product.price_1 %>
</p>
<p>
	<b>Precio Mayoreo (7%): </b>
	<%= number_to_currency @product.price_2 %>
</p>



