
<%= simple_form_for(admin_entry, url: url) do |f| %>
  <%= f.error_notification %>

  <%= f.association :provider, label_method: :razon, label: "Proveedor", required: true, input_html: { class: 'chosen-select' }, wrapper_html: {class: "col-md-3"} %>
  <%= f.association :warehouse, label_method: :name, label: "Bodega", required: true, input_html: { class: 'chosen-select' }, wrapper_html: {class: "col-md-3"} %>

  <%= f.input :payment_form, collection: @payment, input_html: { class: 'chosen-select'}, label: "Forma de pago", required: true, wrapper_html: {class: " col-md-3"} %>
  <%= f.input :state_of_bill, collection: @bill_state, label: "Estado de la factura", required: true, input_html: { class: 'chosen-select'}, wrapper_html: {class: " col-md-3"} %>
  <%= f.input :tax, label: "IVA", collection: @tax, required: true, wrapper_html: {class: "col-md-3"}, input_html: {class: "chosen-select"} %>
  <div style="clear: both;">
    
    <%= f.input :bill_number, label: "Número de factura", wrapper_html: {class: " col-md-3"} %>
    <%= f.input :ticket_number, label: "Número de remision", required: true, wrapper_html: {class: " col-md-3"} %>
    <%= f.input :received_at, label: "Fecha de recibido", required: true, wrapper_html: {class: " col-md-3"} %>
    <%= f.input :payment_date, label: "Fecha compromiso de pago", required: true, wrapper_html: {class: " col-md-3"} %>
  </div>

  <br>
  <h3>Producto entrante</h3>

   

  <div id="products">
    <%= f.simple_fields_for :entries_products do |d| %>
      <%= render 'entries_product_fields', f: d %>
    <% end %>
     <div class="links" style="clear: both;">
      <%= link_to_add_association 'añadir producto', f, :entries_products, class: "btn btn-default" %>
    </div>
  </div>

  <%= f.input :comment, label: "Observaciones", wrapper_html: {class: "col-md-12"} %>



  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-success" %>
  </div>
<% end %>


<script type="text/javascript">
  $('.chosen-select').chosen({ 
    no_results_text: "nada encontrado",
    placeholder_text_single: "Selecciona opción",
    placeholder_text_multiple: "Selecciona opciones",
    // width: '30%'
  });
   $('.datepicker').datepicker({
    dateFormat: "yy-mm-dd",
  });
</script>