	<div style="clear: both;" class="nested-fields">
		
		<%= f.association :product,label: "Producto", label_method: :name_a, input_html: {class: "select1"}, wrapper_html: {class: "col-md-6"}, required: true %>
		<%= f.input :quantity, label: "Cantidad", wrapper_html: {class: " col-md-2"}, input_html: {class: "quantity"}, required: true %>
		<div class="col-md-2 amount" id="amount">
			
		</div>
		<%= link_to_remove_association 'x', f, class: "btn btn-danger" %>
	</div>	

<script type="text/javascript">
	
	$('.select1').chosen({ 
    no_results_text: "nada encontrado",
    placeholder_text_single: "Selecciona opción",
  });

</script>