<br>
<p>Buscador</p>
<%= search_form_for @q, url: list_exits_path, html: {class: "form-inline"} do |f| %>
    <%= f.search_field :id_eq, placeholder: "#", class: "input perfil" %>
    <%= f.collection_select(:client_id_eq, Client.all, :id, :razon, {prompt: "Cliente"}, {class: "chosen-select"}) %>


    <%= f.submit 'Buscar', class: "btn btn-primary" %>
    <%= link_to admin_entries_path, class: "btn btn-success" do  %>
       <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
       Reset
    <% end %>
    <br><br>
   
    
<% end %>
<h1>Salidas de mercancia</h1>
<hr>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= sort_link @q, :created_at, 'Fecha de salida' %></th>
      <th><%= sort_link @q, :client_razon, 'Cliente' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_entries.each do |entry| %>
      <tr>
        <td><%= entry.id %></td>
        <td><%= local_time entry.created_at %></td>
        <td><%= entry.client.razon %></td>

        <td><%= link_to 'Ver', show_exit_path(entry) %></td>
        <% if current_user.has_roles? [:super, :admin] %>
          <td><%= link_to 'Editar', edit_out_path(entry) %></td>
          <td><%= link_to 'Destruir', admin_entry_path(entry), method: :delete, data: { confirm: 'Estas seguro?' } %></td>
        <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $('.chosen-select').chosen({ 
    no_results_text: "nada encontrado",
    placeholder_text_single: "Selecciona opción",

  });
 
  $('.datepicker').datepicker({
    dateFormat: "yy-mm-dd",
  });

</script>




