<br>
<p>Buscador</p>
<%= search_form_for @q, url: admin_entries_path, html: {class: "form-inline"} do |f| %>
    <%= f.collection_select :provider_id_eq, Provider.all, :id, :razon, {}, {class: "chosen-select perfil"} %>
    <%= f.search_field :id_eq, placeholder: "#", class: "input perfil" %>
    <%= f.search_field :bill_number_cont, placeholder: "# Factura", class: "input perfil" %>
    <%= f.search_field :ticket_number_cont, placeholder: "# Remision", class: "form-control col-xm-1" %>

    <%= f.search_field :received_at_eq, placeholder: "Fecha", class: "form-control col-xm-1 datepicker" %>
    <%= f.submit 'Buscar', class: "btn btn-primary" %>
    <%= link_to admin_entries_path, class: "btn btn-success" do  %>
       <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
       Reset
    <% end %>
    <br><br>
    <%= link_to admin_products_path(format: 'csv'), class: "btn btn-success" do  %>
       <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
       Descargar CSV
    <% end %>

    <%= link_to admin_products_path(format: "pdf"), class: "btn btn-success" do %>
      <span class="glyphicon glyphicon-download" aria-hidden="true"></span> 
      Descargar PDF
    <% end %>
    
    
<% end %>
<h1>Entradas de mercancia</h1>
<hr>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= sort_link @q, :created_at, 'Fecha' %></th>
      <th><%= sort_link @q, :provider_razon, 'Proveedor' %></th>
      <th># Factura</th>
      <th># Remision</th>
      <th><%= sort_link @q, :total, 'Total' %></th>
      <th><%= sort_link @q, :payment_form, 'Forma de pago' %></th>
      <th><%= sort_link @q, :state_of_bill, 'Estado de factura' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_entries.each do |entry| %>
      <tr>
        <td><%= entry.id %></td>
        <td><%= local_time(entry.created_at, "%m/%d/%Y") %></td>
        <td><%= entry.provider.razon %></td>
        <td><%= entry.bill_number %></td>
        <td><%= entry.ticket_number %></td>
        <td><%= number_to_currency(entry.total) %></td>
        <td><%= entry.payment_form.humanize %></td>
        <td><%= entry.state_of_bill.humanize %></td>
        
        

        

        <td><%= link_to 'Ver', admin_entry_path(entry) %></td>

        <% if current_user.has_roles? [:super, :admin] %>
          <td><%= link_to 'Editar', edit_admin_entry_path(entry) %></td>
          <td><%= link_to 'Destruir', admin_entry_path(entry), method: :delete, data: { confirm: 'Estas seguro?' } %></td>
        <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $('.chosen-select').chosen({ 
    no_results_text: "nada encontrado",
    placeholder_text_single: "Selecciona opción",

  });
 
  $('.datepicker').datepicker({
    dateFormat: "yy-mm-dd",
  });

</script>




