<h1>Salida de producto</h1>
<hr>

<%= simple_form_for(@entry, url: create_out_path) do |f| %>
  <%= f.error_notification %>

  <%= f.association :client, label_method: :razon, label: "Cliente", required: true, input_html: { class: 'chosen-select' }, wrapper_html: {class: "col-md-12"} %>


 

  <div id="products">
    <%= f.simple_fields_for :out_lines do |d| %>
      <%= render 'out_line_fields', f: d %>
    <% end %>
     <div class="links" style="clear: both;">
      <%= link_to_add_association 'añadir producto', f, :out_lines, class: "btn btn-default" %>
    </div>
  </div>

  <%= f.input :comment, label: "Observaciones", wrapper_html: {class: "col-md-12"} %>



  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-success" %>
  </div>
<% end %>


<script type="text/javascript">
  $('.chosen-select').chosen({ 
    no_results_text: "nada encontrado",
    placeholder_text_single: "Selecciona opción",
    placeholder_text_multiple: "Selecciona opciones",
    // width: '30%'
  });
   $('.datepicker').datepicker({
    dateFormat: "yy-mm-dd",
  });
</script>