<br>
<h2>Salida de producto</h2>
<hr>
<p>
	<b># ID:</b>
	<%= @entry.id %>
</p>
<p>
	<b>Fecha de creación:</b>
	<%= local_time @entry.created_at %>
</p>
<p>
	<b>Cliente:</b>
	<%= @entry.client.razon %>
</p>

<br>
<p>
	<b>Productos:</b>
</p>

<table class="table">
	<thead>
		<tr>
			<th>Producto</th>
			<th>Cantidad</th>
		</tr>
	</thead>
	<tbody>
		<% @entry.out_lines.each do |e| %>
			<tr>
				<td><%= e.product.model %></td>
				<td><%= e.quantity %></td>
			</tr>
		<% end %>
	</tbody>
</table>


<hr>
<% if current_user.has_roles? [:super, :admin, :gerente_ventas, :gerente_inventario] %>
	<p>
		<b>Usuario que creo la salida:</b>
		<%= @entry.user.email %>
	</p>
<% end %>




