<br>
<h2>Entrada de producto</h2>
<hr>
<p>
	<b># ID:</b>
	<%= @entry.id %>
</p>
<p>
	<b>Fecha de creación:</b>
	<%= local_time @entry.created_at %>
</p>
<p>
	<b>Proveedor:</b>
	<%= @entry.provider.razon %>
</p>
<p>
	<b>Bodega:</b>
	<%= @entry.warehouse.name %>
</p>
<p>
	<b># Factura:</b>
	<%= @entry.bill_number %>
</p>
<p>
	<b># Remisión:</b>
	<%= @entry.ticket_number %>
</p>
<p>
	<b>Forma de pago:</b>
	<%= @entry.payment_form.humanize %>
</p>
<p>
	<b>Estado del pago:</b>
	<%= @entry.state_of_bill.humanize %>
</p>
<p>
	<b>Fecha de recibido:</b>
	<%= @entry.received_at %>
</p>
<p>
	<b>Fecha de pago:</b>
	<%= @entry.payment_date %>
</p>
<br>
<p>
	<b>Productos:</b>
</p>

<table class="table">
	<thead>
		<tr>
			<th>Código</th>
			<th>Producto</th>
			<th>Cantidad</th>
			<th>Precio</th>
		</tr>
	</thead>
	<tbody>
		<% @entry.entries_products.each do |e| %>
			<tr>
				<td><%= e.entry_sku %></td>
				<td><%= e.product.model %></td>
				<td><%= e.quantity %></td>
				<td><%= e.price %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<p>
	<b>Subtotal:</b>
	<%= number_to_currency(@entry.subtotal) %>
</p>
<p>
	<b>IVA:</b>
	<%= @entry.tax * 100 %> %
</p>
<p>
	<b>Total:</b>
	<%= number_to_currency(@entry.total) %>
</p>


<hr>
<% if current_user.has_roles? [:super, :admin, :gerente_ventas, :gerente_inventario] %>
	<p>
		<b>Usuario que creo la entrada:</b>
		<%= @entry.user.email %>
	</p>
<% end %>




