<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || 'Administración Soto' %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if (alert) %>
      <p class="notice"><%= alert %></p>
    <% elsif (notice) %>
      <p class="notice"><%= notice %></p>
    <% end %>


    <%= render 'shared/nav' %>
    <main>
      <div class="container">
        <%= yield %>
        
      </div>
    </main>
  </body>
</html>
