<!DOCTYPE html>
<html>
  <head>
    <title>Sotoadmin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <% if alert %>
      <p class="alert"><%= notice %></p>
    <% elsif notice %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <main class="">
      <%= yield %>
    </main>
  </body>
</html>
